.edit-crewmate-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #414347;
  border-radius: 10px;
  width: 700px;
  padding: 2rem;
}

.edit-crewmate-container h1 {
  margin-bottom: 1.5rem;
  margin-left: 20%;
}

.edit-crewmate-container p {
  margin: 0.75rem 0;
}

.edit-crewmate-buttons button {
  background-color: #414347;
  color: #e5e7eb;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.edit-crewmate-buttons button:hover {
  background-color: #e5e7eb;
  color: #414347;
}

.edit-crewmate-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.edit-crewmate-container input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  margin-bottom: 1rem;
}

.submit-button {
  background-color: #5d697c;
  color: #e5e7eb;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #e5e7eb;
  color: #5d697c;
}

.error-message {
  color: #e5e7eb;
}